ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

ul.dropdown-menu {
    margin-top: -2px;
}

a.menu:after,.dropdown-toggle:after {
    content: none;
}

.modal-footer{
    position:fixed;
    height:40px;
    width:100%;
    margin:0px;
    padding:0px;
    bottom:0;
    box-pack:center;
}

.modal-footer p{
    margin-right:20px;
    padding-top:10px;
}

#user {
    float: right;
}

body {
    padding-bottom: 40px;
    padding-top: 60px;
}
.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
}

h1 {
    word-wrap: break-word;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

.sidebar-nav {
    padding: 9px 0;
}

.logo {
    float: left;
    margin-right: 15px;
}

/* Kinda dirty(so the internet says). Prevents headers from disappearing behind fixed top bar. */
:target {
    padding-top: 35px;
}

#form {
    width: 400px;
    display: inline-block;
}
#tokens {
    float: right;
    padding: 40px;
}